@import url(reset.css);

html, body {
    margin: 0;
    padding: 0;
}

.navTarget {
    height: 800px;
    width: 100%;
}

#menuCont {
    height: 350px;
    width: 275px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menuCont-btn {
    height: 50px;
    width: 100%;
    font-size: 1.2em;
    line-height: 50px;
    text-align: center;
    background-color: #626262;
}

.menuCont-dropdown {
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: visibility 0.2s, opacity 0.2s linear;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.menuEl {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
}

.menuEl a {
    text-decoration: none;
    color: #000;
}

.menuEl:hover {
    background-color: #484747;
}
